.center-body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.loader-circle-2 {
  position: relative;
  width: 46px;
  height: 46px;
  display: inline-block;
}
.loader-circle-2:before,
.loader-circle-2:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}
.loader-circle-2:before {
  width: 46px;
  height: 46px;
  border-bottom-color: #009688;
  border-right-color: #009688;
  border-top-color: transparent;
  border-left-color: transparent;
  animation: loader-circle-2-animation-2 1s linear infinite;
}
.loader-circle-2:after {
  width: 28px;
  height: 28px;
  border-bottom-color: #e91e63;
  border-right-color: #e91e63;
  border-top-color: transparent;
  border-left-color: transparent;
  top: 22%;
  left: 22%;
  animation: loader-circle-2-animation 0.85s linear  infinite;
}
@keyframes loader-circle-2-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader-circle-2-animation-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
